@import 'modules/base' ;
@import 'vendors/Bs5/bootstrap' ;
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


$primary-colour:#f7f7f7;
$theme-color:#a1a0a0;
$seccondry-color:#070707;
$light-grey:#c0c0c0;
$light-blue:#a2cedd;
.main-header-wrapp{
    position: relative;
    overflow: hidden; 

.main-header-wrapp::after{
   content:""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 10;
}
   .fig-caption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
   }
   
    .main-navbar-wrap{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    img{
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 1.2;       
    }
    .navbar-brand{
        color:$primary-colour ;
        font-size: 2.5rem;
        font-weight: 700;
        font-family: Abril Fatface;
    } 
    .nav-link{
         font-size: 2rem;
         font-family: Abril Fatface;
         text-align: center;
         transition: color 1s;
    }
    .offcanvas{
      width: 100%;
    } 
    .nav-link:hover{
       color: $light-blue;
    } 
    .navbar-toggler{
        border: 0;
        color:white;
        width: 30px;
        padding-right: 4rem;
    }
    button{
        width: 30px;
    }
    .navbar-toggler-icon{
        color: $primary-colour;
        font-size: 2rem;
    }
    
    h1{
        font-weight: 800;
        font-family: Abril Fatface;
        font-size: 5rem;
        color: $primary-colour;
    }
    h2{
        display: inline;
       color: $primary-colour;

    }
    h3{
        display: inline;
        text-decoration: underline;
        color: $theme-color;
        cursor: pointer;
        transition: color 1s;
    }
    h3:hover{
        color: $primary-colour;
    }
    .view-btn{
        display: block;
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        color: $primary-colour;
        border: 2px solid $primary-colour;
        width: fit-content;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 1rem;
        transition: background-color 1s;

    }
    .view-btn:hover{
        background-color: $primary-colour;
        color: $seccondry-color;

    }

}

.main-seccond-page{
img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.main-seccond-para{
    align-items:center;
}
h2{
    padding-top: 5rem;
    font-weight: 700;
    font-family: Abril Fatface;
}
p{
    font-size: 1.25rem;
}
a{
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    transition: color 1s;
}
a:hover{
    color: $seccondry-color;
}
i{
  padding: 0 1rem;
}
}
.main-third-page{
    text-align: center;
    padding: 5rem 0;
    h1{
        font-size: 2rem;
        font-family: Abril Fatface;
    }
    h2{
        font-family: Abril Fatface;
        font-size: 1.5rem;
    }
    .cntre{
        width: 50%;
        margin: 0 auto;
    }
    p{
        font-size: 1.15rem;
    }
    img{
        width: 50px;
    }
    .row{
        margin-top: 2rem;
    }
}
.main-fourth-wrapp{
    margin: 3rem 0;
    text-align: center;
    h1{
        font-size: 4rem;
        max-width: 50%;
        font-family: Abril Fatface;
    }
    p{
        width: 50%;
        font-size: 1.15rem;
     }
}
.main-fifth-page {
    background-color: $light-blue; 
    padding: 4rem 0;
    
    .para-five {
        width: 70%;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
        font-family: 'Abril Fatface';
    }

    h5 {
        font-weight: 800;
        max-width: 70%;
    }

    h6 {
        color: $light-grey;
    }

    .card {
        cursor: pointer;
    }
}

.main-sixth-page{
    padding: 4rem 0;
    h1{
        font-family: Abril Fatface;
        text-align: center;
        font-size: 4rem;
        padding: 5rem 0;
    }
    img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50px;
    }
    p{
        font-size: 1.15rem;
        font-style: italic;
    }
    h6{
        font-style: italic;
        color: $light-grey;
    }
}
.main-7th-page{
    
    padding: 4rem 0;
    h2{
        font-family: Abril Fatface;
        text-align: center;
    }
    p{
        text-align: center;
        width: 70%;
        font-size: 1.25rem;
    }
    img{
        width: 100%;
    }
    h3{
        font-family: Abril Fatface;
        font-size: 1.25rem;
    }
    i{
        color: $light-blue;
    }
    h6{
        display: inline;
        padding-left: 3.5rem;
        font-style: italic;
        color: $light-grey;
        font-weight: 300;
    }

}
.main-footer{
    background-color: $seccondry-color;
    padding: 4rem 0;
    h4{
        color: $primary-colour;
        font-family: Abril Fatface;
        font-size: 1.15rem ;
    }
    h6{
        color:$light-grey;
        padding: .75rem 0;
        font-weight: 400;
    }
    h5{
        font-style: italic;
        color: $primary-colour;
        font-size: 1.15rem;
        font-weight: 400;
    }
    p{
        color: $light-grey;

    }
    .row{
        border-bottom: 1px solid $light-grey;
        padding: 4rem 0;
    }
    .footer-para{
        text-align: center;
        padding: 1.25rem 0;
    }
    .icon-facebook{
        // padding-left: 25rem;
        font-size: 1.15rem;
    }
    .social-icons{
        padding: 0 1rem;
        font-size: 1.15rem;
    }
    input{
        background-color: $seccondry-color;
        color: $primary-colour;
        border: none;
        border-bottom: 1px solid $primary-colour;
        border-radius: 0;
        font-style: italic;
    }
}

















@media (max-width:767px) {
   
    .fig-caption{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1rem;
        }
        
        
    }
    .main-forth-page{
        h1{
          font-size: 2.5rem;   
        }
    }
    
}
